.tile {
    width: 100 / 19%;
    border: 1px solid gray;
}

.tile-row {
    width: 80%;
    padding: 0 10% 0 10%;
}

.outer-border {
    border: 1px solid black;
}

.black {
    background-color: black
}

.white {
    background-color: white;
    color: white
}

.empty {
    background-color: tan
}